@{
    Layout = "~/Views/Shared/managerLayout.cshtml";
    ViewBag.pageTitle = "数据总览";
    ViewBag.Title = "数据总览";
    var today = "getInfo/" + DateTime.Now.ToString("yyyy-MM-dd");
}
@section Head{
    
    }
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <!-- 四个功能块 -->
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel1">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <img src=@Url.Content("~/Content/images/icon/icon02.png")>
                            @*<img src="../../images/icon/icon02.png">*@
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@ViewBag.movie_count</div>
                            <div>在映电影</div>
                        </div>
                    </div>
                </div>
                <a href=@Url.Action(today,"Schedule_Movie")>
                    <div class="panel-footer">
                        <span class="pull-left">电影排片</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel2">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <img src=@Url.Content("~/Content/images/icon/icon04.png")>
                            @*<img src="../../images/icon/icon04.png">*@
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@ViewBag.discount_count</div>
                            <div>优惠规则</div>
                        </div>
                    </div>
                </div>
                <a href=@Url.Action("Index","DISCOUNTs")>
                    <div class="panel-footer">
                        <span class="pull-left">折扣管理</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel3">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <img src=@Url.Content("~/Content/images/icon/icon01.png")>
                            @*<img src="../../images/icon/icon01.png">*@
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@ViewBag.staff_count</div>
                            <div>员工</div>
                        </div>
                    </div>
                </div>
                <a href=@Url.Action("Index", "STAFFs")>
                    <div class="panel-footer">
                        <span class="pull-left">员工管理</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel4">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <img src=@Url.Content("~/Content/images/icon/icon03.png")>
                            @*<img src="../../images/icon/icon03.png">*@
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@ViewBag.member_count</div>
                            <div>会员</div>
                        </div>
                    </div>
                </div>
                <a href=@Url.Action("Index", "MEMBERs")>
                    <div class="panel-footer">
                        <span class="pull-left">会员管理</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> 各个时段的上座率
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle"
                                    data-toggle="dropdown">
                                大鱼海棠
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li>
                                    <a href="#">大鱼海棠</a>
                                </li>
                                <li>
                                    <a href="#">超脑48小时</a>
                                </li>
                                <li>
                                    <a href="#">惊天魔盗团2</a>
                                </li>
                                <li>
                                    <a href="#">寒战2</a>
                                </li>
                                <li>
                                    <a href="#">人类清除计划3</a>
                                </li>
                                <li>
                                    <a href="#">神奇队长</a>
                                </li>
                                <li>
                                    <a href="#">招魂2</a>
                                </li>
                                <li>
                                    <a href="#">魔兽争霸：战雄崛起</a>
                                </li>
                                <li>
                                    <a href="#">致青春：原来你还在这里</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="morris-area-chart"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> 不同来源的售票比例
                </div>
                <div class="panel-body">
                    <div id="morris-donut-chart"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</body>
</html>
