@{
    Layout = "~/Views/Shared/clientLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title>全真影院-开发人员</title>
    <link href="@Url.Content("~/Content/developer.css")" rel="stylesheet">
</head>
<body>
    <div class="jumbotron">
        <div class="text-center">
            <p class="text-primary">开发人员</p>
            <div class="lead">

                <ul class="list-inline">
                    <li>1452661  冯雨晴</li>
                    <li>1452764  何冬怡</li>
                </ul>
                <ul class="list-inline">
                    <li>1350588  胡贝妮</li>
                    <li>1354364  李沛卓</li>
                </ul>
                <ul class="list-inline">
                    <li>1354362  刘立冬</li>
                    <li>1454094  倪奕玮</li>
                </ul>
                <ul class="list-inline">
                    <li>1452662  易思琦</li>
                    <li>1452773  张&nbsp&nbsp&nbsp&nbsp锋</li>
                </ul>
                <ul class="list-inline">
                    <li>1453772  张子立</li>
                    <li>1452686  赵&nbsp&nbsp&nbsp&nbsp正</li>
                </ul>
            </div>
        </div>
    </div>
    <script>
    (function() {
        // trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
        if (!String.prototype.trim) {
            (function() {
                // Make sure we trim BOM and NBSP
                var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
                String.prototype.trim = function() {
                    return this.replace(rtrim, '');
                };
            })();
        }

        [].slice.call( document.querySelectorAll( 'input.input__field' ) ).forEach( function( inputEl ) {
            // in case the input is already filled..
            if( inputEl.value.trim() !== '' ) {
                classie.add( inputEl.parentNode, 'input--filled' );
            }

            // events:
            inputEl.addEventListener( 'focus', onInputFocus );
            inputEl.addEventListener( 'blur', onInputBlur );
        } );

        function onInputFocus( ev ) {
            classie.add( ev.target.parentNode, 'input--filled' );
        }

        function onInputBlur( ev ) {
            if( ev.target.value.trim() === '' ) {
                classie.remove( ev.target.parentNode, 'input--filled' );
            }
        }
    })();
    </script>
</body>
</html>