body {
    background-color: #f3f3f3;
    font-family: "Helvetica Neue","微软雅黑", Helvetica, Arial, sans-serif;
}
.jumbotron {
    padding-top: 18px;
    padding-bottom: 18px;
    margin-bottom:0px;
    min-height:300px;
}

.jumbotron h2{
    margin-top:120px;
    text-align:center;
}

.jumbotron p {
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 200;
    margin-top: 30px;
}
.list-inline > li {
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
}

.lead {
    font-size: 17px;
    font-weight: 300;
    line-height: 1.8;
}

.footer {
    background-color:#F3F3F3;
}

.footer .container{
    padding-top:20px;
}
