
@{
    ViewBag.Title = "Login";
}
<body>
    <h2>Login</h2>
    <div id="LoginState">
    @ViewBag.LoginState
    </div>
    <form action="/Login/index" method="post" class="form-horizontal" role="form">
        <div class="form-group">
            <label for="ID">Staff ID</label>
                <input type="number" class="form-control" id="ID" name="ID" placeholder="ID">
        </div>
        <div class="form-group">
            <label for="PWD">Password</label>
                <input type="password" class="form-control" id="PWD" name="PWD" placeholder="Password">
        </div>
        <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Check me out
                    </label>
            </div>
        </div>
        <div class="form-group">
                <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>
</body>

